/* *{
  color: white;
} */
body{
  height: 100vh;
} 

.contenedor {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.miGrid {  
  display: grid;

  grid-auto-flow: row;
  padding: 10px;


  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(5, 1fr);

  grid-gap: 10px;
}

.item1{
  grid-column: 1/4;
  grid-row: 1/3;
}
