.blur
{
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.406);
}
.blanco
{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.sombra
{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.384);
}

.redondito
{
    border-radius: 5px;
}

.fondo
{
    background-image: url(https://n9e5v4d8.ssl.hwcdn.net/uploads/b9a6a1c1b7d3c1668e3d5a389fd3eced.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}